---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/clients?ids=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"69f3dcee428b03dd31a3d752f67c8d31"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"included":[],"meta":{"total":0,"total-pages":0,"page":1},"links":{"self":"https://api.test.datacite.org/clients?ids=xxx"}}'
  recorded_at: Thu, 06 Sep 2018 21:27:58 GMT
recorded_with: VCR 3.0.3
