---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/clients?ids=cdl.cdl,datacite.datacite,dryad.dryad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"0bec12e0a6e43d61e55f8ce2fa22ea87"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"cdl.cdl","type":"clients","attributes":{"name":"CDL","symbol":"CDL.CDL","year":2011,"contact-name":"EZID
        Support Desk","contact-email":"ezid@ucop.edu","domains":"*","url":null,"created":"2011-03-02T19:09:27.000Z","updated":"2018-08-26T01:30:24.000Z","is-active":true,"has-password":false},"relationships":{"provider":{"data":{"id":"cdl","type":"providers"}},"prefixes":{"data":[{"id":"10.5060","type":"prefixes"},{"id":"10.5061","type":"prefixes"},{"id":"10.5072","type":"prefixes"}]}}},{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contact-name":"Martin
        Fenner","contact-email":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-08-26T01:30:27.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"}]}}},{"id":"dryad.dryad","type":"clients","attributes":{"name":"DRYAD","symbol":"DRYAD.DRYAD","year":2018,"contact-name":"Dryad
        Administrator","contact-email":"admin@datadryad.org","domains":"*","url":null,"created":"2018-04-24T17:32:32.000Z","updated":"2018-08-26T01:31:12.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"dryad","type":"providers"}},"repository":{"data":{"id":"r3d100000044","type":"repositories"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"}]}}}],"included":[{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","website":null,"contact-name":"Greg Janee","contact-email":"gjanee@ucop.edu","phone":null,"description":null,"region":null,"country":null,"logo-url":null,"institution-type":null,"is-active":true,"has-password":true,"joined":null,"created":"2010-01-01T00:00:00.000Z","updated":"2018-08-26T01:25:40.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5060","type":"prefixes"},{"id":"10.5061","type":"prefixes"},{"id":"10.5062","type":"prefixes"},{"id":"10.5063","type":"prefixes"},{"id":"10.5064","type":"prefixes"},{"id":"10.5065","type":"prefixes"},{"id":"10.5066","type":"prefixes"},{"id":"10.5067","type":"prefixes"},{"id":"10.5068","type":"prefixes"},{"id":"10.5069","type":"prefixes"},{"id":"10.5070","type":"prefixes"[...]
